@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply cursor-pointer border border-gray-400 rounded bg-gray-100 px-2 py-1 transition hover:bg-gray-200 active:bg-gray-300;
  }

  hr {
    @apply my-2 border-0 h-[1px] bg-gray-300;
  }

  h3 {
    @apply font-bold text-[18px] my-2 text-gray-800;
  }
}

html,
body,
#root {
  height: 100%;
}

.canvas-container {
  width: 750px;
  height: 500px;
  border: 1px solid #aaa;
}

.uu {
  position: absolute;
  width: 100px;
  height: 100px;

  background-color: purple;

  top: 500px;

  animation-name: rr;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes rr {
  from {
    left: 0;
  }
  to {
    left: 100px;
  }
}
