.right-attr-panel {
  .attr-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    .form-item {
      .label {
        width: 20px;
        text-align: center;
      }

      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .selected {
    box-shadow: 0 0 0 1px white, 0 0 0 2px #2c87ff;
  }
}