.right-attr-panel {
  .attr-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    .form-item {
      .label {}
    }
  }

  .selected {
    box-shadow: 0 0 0 1px white, 0 0 0 2px #2c87ff;
  }
}