:root {
  --scrollbar-width: 8px;
}

.ant-menu {
  padding-right: var(--scrollbar-width);
}

.ant-menu-sub {
  background-color: transparent !important;
}
.ant-menu-item {
  height: 96%;
}

:is(.ant-layout-header, aside) {
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 3px solid transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #c3c0c0;
  }
}

aside {
  flex-shrink: 0;
  padding-bottom: 20px;
  width: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
}

.main-content {
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  overflow: auto;
  flex-shrink: 0 !important;
  background-color: #fff;
}
