.whiteboard-app {
  height: 100%;
  position: relative;
  background-color: white;
  position: fixed;
  inset: 0;
  z-index: 10;

  .tools-bar {
    .tool-btn {
      &:hover {
        background-color: #e5dbff;
      }

      &.selected {
        background-color: #b197fc;
        color: white;
      }
    }
  }
}