.whiteboard-app {
  height: 100%;
  position: relative;
  background-color: white;

  &.prod {
    position: fixed;
    inset: 0;
    z-index: 10;

    .whiteboard-canvas {
      border: none;
    }
  }

  .tools-bar {
    .tool-btn {
      width: 28px;
      height: 28px;
      color: #333;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        height: 18px;
      }

      &:hover {
        background-color: #eee8fd;
      }

      &.selected {
        background-color: #8a62ff;
        color: white;
      }
    }
  }

  .right-attr-panel {
    border-left: 1px solid #ddd;
  }
}