:root {
  --scrollbar-width: 6px;
}

html,
body,
#root {
  height: 100%;
}

.canvas-container {
  width: 700px;
  height: 400px;
  box-shadow: 0px 0px 0 1px #c3c0c0;
}

.border-shadow {
  box-shadow: 0px 0px 0 1px #c3c0c0;
}

.inline-block {
  display: inline-block;
}

hr {
  border: 1px solid #ddd;
  border-top: none;
}

.border {
  border: 1px solid #333;
}

.ant-menu::-webkit-scrollbar {
  display: none;
  width: var(--scrollbar-width);
  background-color: #e1e1e1;
}

.ant-menu::-webkit-scrollbar-thumb {
  background-color: #cecece;
}

.ant-menu:hover::-webkit-scrollbar {
  display: initial;
}

.ant-menu {
  padding-right: var(--scrollbar-width);
}

.ant-menu:hover {
  padding-right: 0;
}
